<!-- Style in forms.scss -->
      <div class="form-page">
           <h1>Log In</h1>
           <%= form_tag sessions_path do %>
                 <%= text_field_tag :email, nil, class: "form-field", placeholder: "E-Mail" %>
                 <%= password_field_tag :password, nil, class: "form-field", placeholder: "Password" %>
                 <%= submit_tag "Log In", class: "btn-save form-field" %>
           <% end %>
        </div>
