<% if current_user != nil && @user != nil && ( @user == current_user || current_user.role == "admin" ) %>

          <!-- Style in forms.scss -->
          <div class="form-page">
               <h1>Edit Profile</h1>
               <%= render 'form' %>
               <button class="btn-delete form-field"><%= link_to 'Delete Profile', @user, method: :delete, data: { confirm: 'Are you sure?' } %></button>
            </div>


<% end %>
