<div class="container">
   <div class="row">
      <% @memorials.each do |m| %>
        <%= m.full_name %>
        <%= image_tag m.first_image %>
      <% end %> <!-- @memorials.each do |m| -->
   </div>
</div>
