.btn-delete {
  border: 1px solid black;
  border-radius: 3px;
  background-color: pink;
  color: black;
  display: block;

  a:link{background-color: inherit; color:inherit}
  a:active{background-color: inherit; color:inherit}
  a:visited{background-color: inherit; color:inherit}
  a:hover{background-color: inherit; color:inherit}
}

.btn-save {
  border: 1px solid black;
  border-radius: 3px;
  background-color: lightgreen;
  color: black;
  display: block;

  a:link{background-color: inherit; color:inherit}
  a:active{background-color: inherit; color:inherit}
  a:hover{background-color: inherit; color:inherit}
  a:visited{background-color: inherit; color:inherit}
}

button:focus {
  outline: none;
}

.form-field {
  border-radius: 3px;
  display: block;
  margin-bottom: 5px;
  padding: 3px;
  width: 350px;
}

.form-page {
      margin-left: calc(50% - 175px);
      h1 {text-align: center; width: 350px;}
}

a.rails-link {background-color: none;}
a.rails-link:active{background-color: inherit; color:inherit}
a.rails-link:hover {background-color: transparent;}
a.rails-link:visited{background-color: inherit; color:inherit}
