// Place all the styles related to the deceaseds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.epitaph {
   position: absolute;
   font-size: 80%;
}

.panel-body {
   font-size: 20px;
   min-height: 360px;
}

.pictures-form {
   display: none;
}

.post {

   img {
      width: 100%;
   }
}

.posts {
   padding-top: 10px;
}

.posts-forms {
   align-items: center;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   height: 40px;
   justify-content: center;
   margin-top: 10px;
   -ms-flex-align: center;
   text-align: center;
   -webkit-align-items: center;
   -webkit-box-align: center;
}

.posts-forms button {
   margin-left: 5px;
   margin-right: 5px;
}

.texts-form {
   display: none;
}

.tombstone {
   align-items: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   height: 100%;
   justify-content: center;
   -ms-flex-align: center;
   opacity: .8;
   text-align: center;
   -webkit-align-items: center;
   -webkit-box-align: center;
}

.tombstone h1 {
   font-size: 100px;
}

.tombstone h2 {
   font-size: 60px;
}
// @include media-breakpoint-up(sm) {
//    .tombstone h1 {
//       font-size: 10px;
//    }
//
//    .tombstone h2 {
//       font-size: 6px;
//    }
// }
//
// @include media-breakpoint-up(md) {
//    .tombstone h1 {
//       font-size: 50px;
//    }
//
//    .tombstone h2 {
//       font-size: 30px;
//    }
// }
//
// @include media-breakpoint-up(lg) {
//    .tombstone h1 {
//       font-size: 100px;
//    }
//
//    .tombstone h2 {
//       font-size: 60px;
//    }
// }
