.epitaph {
      align-items: center;
      color: black;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      height: 100%;
      justify-content: center;
      -ms-flex-align: center;
      text-align: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
   }

.epitaph h1 {
  font-size: 100px;
}

.epitaph h2 {
  font-size: 60px;
}

.pictures-form {
   display: none;
}

.pic {
   content: center;

   img {width: 100%;}
}

.post {

   video {background-color: black; width: 100%;}

}

.posts-forms {
   background-color: #f8f8f8;
   border: 1px solid gray;
   height: 55px;
   margin: 0;
   padding: 0;
   width: 100%;

   align-items: center;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   justify-content: center;
   -ms-flex-align: center;
   text-align: center;
   -webkit-align-items: center;
   -webkit-box-align: center;
}

.posts-form-button {
   color: #333333;
   background-color: #f8f8f8;
   border: 0;
   display: inline-block;
   font-size: 18px;
   margin-left: 5px;
   margin-right: 5px;
}

.text-area {
   height: 100%;
   width: 100%;
}

.texts-form {
   display: none;
}

.tombstone {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.txt {
   background-color: #f8f8f8;
   border: 2px solid gray;
   color: #333333;
   font-size: 24px;
   font-family: Andale Mono, monospace;
   padding: 10px;
}

.videos-form {
   display: none;
}

// Masonry CSS ================================================================
.grid {
   margin: 0 auto;
}
.grid-sizer,
.grid-item { width: 25%; }
.grid-item--width2 { width: 50%; }

.masonry-container {
}

@media (max-width: 1250px) {
  .epitaph h1 {
    font-size: 80px;
  }

  .epitaph h2 {
    font-size: 50px;
  }

   .grid-sizer,
   .grid-item { width: 33%; }
   .grid-item--width2 { width: 66%; }
}

@media (max-width: 850px) {
  .epitaph h1 {
    font-size: 60px;
  }

  .epitaph h2 {
    font-size: 35px;
  }

   .grid-sizer,
   .grid-item { width: 50%; }
   .grid-item--width2 { width: 100%; }
}

@media (max-width: 450px) {
  .epitaph h1 {
    font-size: 35px;
  }

  .epitaph h2 {
    font-size: 20px;
  }

   .grid-sizer,
   .grid-item { width: 100%; }
   .grid-item--width2 { width: 100%; }

   .forms-break {display:block;}
}
