.epitaph {
      align-items: center;
      color: black;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      height: 100%;
      justify-content: center;
      -ms-flex-align: center;
      text-align: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
   }

.epitaph h1 {
  font-size: 100px;
}

.epitaph h2 {
  font-size: 60px;
}

.panel-body {
   font-size: 20px;
   min-height: 360px;
}

.pictures-form {
   display: none;
}

.post {

   img {
      width: 100%;
   }
}

.posts {
   padding-top: 10px;
}

.posts-forms {
   align-items: center;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   height: 40px;
   justify-content: center;
   margin-top: 10px;
   -ms-flex-align: center;
   text-align: center;
   -webkit-align-items: center;
   -webkit-box-align: center;
}

.posts-forms .btn {
   color: white;
   margin-left: 5px;
   margin-right: 5px;
}

.text-area {
   height: 100%;
   width: 100%;
}

.texts-form {
   display: none;
}

.tombstone {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.videos-form {
   display: none;
}

#videos-thumbnail {
   align-items: center;
   background-color: black;
   color: black;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   height: 100%;
   justify-content: center;
   margin: 0;
   -ms-flex-align: center;
   padding: 0;
   text-align: center;
   -webkit-align-items: center;
   -webkit-box-align: center;
}

// Masonry CSS ================================================================
.grid-sizer,
.grid-item { width: 25%; }
.grid-item--width2 { width: 40%; }

.masonry-container {
   margin-top: 80px;
}
