#navbar-welcome {
  background: none;
  border: none;
  position:absolute;
  width: 100%;

  div a {
    font-size: 16px;
    font-weight: 600;
    text-shadow: 0 0 50px white;
  }

  ul li {
    font-size: 16px;
    font-weight: 600;
    text-shadow: 0 0 30px white;
  }
}

@media (max-width: 765px) {
  #navbar-welcome {
    // background: linear-gradient(to bottom, #f8f8f8, gray);
    // border: 1px solid #f8f8f8;
  }
}
