<% if current_user != nil && @memorial != nil && ( @memorial.user == current_user || current_user.role == "admin" ) %>

    <div class="form-page">
      <%= render 'form' %><br>
      <button class="btn-delete"><%= link_to 'Destroy', @memorial, method: :delete, data: { confirm: 'Are you sure?' } %></button>
    </div>

<% end %>
