
   <% @memorials.each do |memorial| %>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="..." alt="...">
          </a>
        </div>
        <div class="media-body">
               <h4 class="media-heading"><%= link_to "#{memorial.first_name} #{memorial.last_name}", memorial %></h4>
        </div>
      </div>
   <% end %>
