
   <% @memorials.each do |memorial| %>
      <div class="media">
        <div class="media-left">
          <a href="#">
                <% memorial.posts.each do |post| %>
                   <% if post.postable_type == "Picture" %>
                            <%= image_tag post.postable.image.feed.url %>
                   <% end %>
                <% end %>
          </a>
        </div>
        <div class="media-body">
               <h4 class="media-heading"><%= link_to "#{memorial.first_name} #{memorial.last_name}", memorial %></h4>
        </div>
      </div>
   <% end %>
