<div class="container">
   <% @memorials.each do |memorial| %>
      <div class="media">
        <div class="media-left">
          <a href="#">
                <%= link_to image_tag(memorial.first_thumb), memorial %>
          </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><%= link_to "#{memorial.first_name} #{memorial.last_name} | #{memorial.dob.year} - #{memorial.dod.year}", memorial, class: "rails-link" %></h4>
            <div>
              <div class="media-fade"></div>
              <p><%= memorial.try(:bio) %></p>
            </div>
        </div>
      </div>
   <% end %>
</div>
